.popup__input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 0 0 10px;
  margin-bottom: 30px;
}

.popup__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.popup__input:focus::-moz-placeholder {
  color: transparent;
}

.popup__input:focus:-ms-input-placeholder {
  color: transparent;
}

.popup__input:focus::-ms-input-placeholder {
  color: transparent;
}

.popup__input:focus::placeholder {
  color: transparent;
}