.header {
    width: 100%;
    line-height: 0;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
    padding-bottom: 30.6px;
    margin-bottom: 42px;
}

@media screen and (min-width: 320px) and (max-width: 1280px){
    .header {
        padding-bottom: calc(30.6px + (40 - 30.6) * (100vw - 320px) / 960);
        margin-bottom: calc(42px + (40 - 42) * (100vw - 320px) / 960);
    }
}
@media screen and (min-width: 1281px){
    .header {
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
}