.place__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  border: none;
  background-image: url("../../../images/trash.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.place__delete-button:hover {
  cursor: pointer;
  opacity: .6;
}