.profile__add-button {
  height: 50px;
  width: 282px;
  border-radius: 2px;
  background-image: url("../../../images/add-button.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.profile__add-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (min-width: 1024px) {
  .profile__add-button {
    width: 150px;
    background-size: 22px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-left: auto;
  }
}