.profile__add-button {
  height: 50px;
  width: 282px;
  background-image: url("../../../images/add-button.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: transparent;
  border: 2px solid #fff;
}

@media screen and (min-width: 1024px) {
  .profile__add-button {
    width: 150px;
    background-size: 22px;
    align-self: center;
    margin-left: auto;
  }
}