.profile__employment {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  grid-column: 1 / -1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  .profile__employment {
    font-size: 18px;
    margin-left: 0;
    grid-column: 1 / 2;
  }
}