.place__like-button {
  grid-column: 3 / 4;
  grid-row: 2 / -1;
  width: 22px;
  height: 19px;
  border: none;
  background-image: url("../../../images/like-button.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  align-self: center;
}