.place__like-button {
  grid-column: 3 / 4;
  grid-row: 2 / -1;
  width: 22px;
  height: 19px;
  border: none;
  background-image: url("../../../images/like-button.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  align-self: center;
  transition: 0.5s ease-in-out;
}
.place__like-button:hover {
  cursor: pointer;
  opacity: .5;
}
.place__like-button:active {
  cursor: pointer;
  opacity: 1;
  background-image: url("../../../images/like-button-active.svg");
}